/* AccountTable.css */

.table-container {
  margin: 5px;
  background-color: #ffffff;
  /* Nền trắng cho bảng */
  border-radius: 10px;
  /* Bo tròn góc */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* Bóng đổ nhẹ hơn */
}

.table {
  /* min-width: 650px; */
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 15px 20px;
  /* Tăng khoảng cách giữa nội dung và biên */
  text-align: left;
}

.table th {
  background-color: #3f51b5;
  /* Màu nền cho tiêu đề */
  color: #ffffff;
  /* Màu chữ cho tiêu đề */
  font-weight: 600;
  /* Đậm hơn */
  text-transform: uppercase;
  /* Chữ in hoa */
}

.table-row:hover {
  background-color: #e3f2fd;
  /* Màu nền khi hover */
}

.locked-row {
  background-color: #ffe0e0;
  /* Màu nền cho hàng bị khóa */
  text-decoration: line-through;
  /* Gạch ngang cho hàng bị khóa */
}

.checkbox {
  cursor: pointer;
}

.select-role {
  width: 100%;
  padding: 8px;
  /* Tăng padding cho select */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  /* Nền trắng */
  color: #333;
  /* Màu chữ mặc định là đen */
  transition: border-color 0.3s;
  /* Hiệu ứng chuyển tiếp */
}

.select-role:focus {
  border-color: #3f51b5;
  /* Đổi màu viền khi focus */
  outline: none;
  /* Ẩn viền mặc định */
}

.select-role option {
  color: #333;
  /* Màu chữ cho các tùy chọn */
}

.select-role:hover {
  background-color: #e3f2fd;
  /* Màu nền khi hover */
}

.select-role:hover option {
  color: #3f51b5;
  /* Màu chữ cho các tùy chọn khi hover */
}

.table-cell-strong {
  font-weight: bold;
  /* Chữ đậm cho các ô quan trọng */
  color: #333;
  /* Màu chữ tối */
}

.table-row {
  transition: background-color 0.3s;
  /* Hiệu ứng chuyển tiếp cho hàng */
}

/* Tạo khoảng cách giữa checkbox và các ô khác */
.table-cell-checkbox {
  padding: 0;
  /* Không cần padding cho checkbox */
}

/* Thêm khoảng cách cho các hàng */
.table-row + .table-row {
  border-top: 1px solid #e0e0e0;
  /* Đường phân cách giữa các hàng */
}
