.drawer {
  width: 60px;
  transition: width 0.3s ease;
}

.drawer.open {
    width: 17%;
    min-width: 230px
}

.content {
  flex-grow: 1;
}
.content.open {
    width: 83%;
}

p {
  margin-left: 15px;
}

.element {
    height: 50px;
    width: 100%;
    background-color: white;
    padding-left: 15px;
    font-size: 16px;
    cursor: pointer;
}
.elementSelected {
  height: 50px;
  font-size: 18px;
  background-color: lightblue;
  padding-left: 15px;
}

.element:hover {
  font-size: 18px;
  background-color: lightgray;
}

.ruler {
  width: 10px;
  background-color: black;
}
