.navbar {
  /* background-color: #ffffff; */
  transition: background-color 0.3s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
/* .navbar:hover {
  background-color: #f8f9fa;
} */

.containerCustom {
  margin: 0;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.dropdown-item {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #28a745;
  color: white;
}

.custom-dropdown .dropdown-menu {
  background-color: #ffffff;
  border-radius: 0;
}

.custom-dropdown:hover .dropdown-menu {
  display: block;
}

.brand-title {
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
}

.nav-link {
  color: white !important;
  font-weight: 400;
}

.text-link:hover {
  color: blue !important;
  font-weight: 400;
  text-shadow: 
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 20px #00ffff,
    0 0 40px #00ffff,
    0 0 80px #00ffff,
    0 0 90px #00ffff,
    0 0 100px #00ffff,
    0 0 150px #00ffff;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    font-size: 14px;
  }
}
