.position {
  position: relative;
}
.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}

.content {
  padding-top: 100px;
  overflow-y: auto;
  height: calc(100vh - 60px);
}
