#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0 2em;
}

.read-the-docs {
  color: #888;
}
.btn-outline-primary {
  border-width: 2px;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}

.pagination {
  font-weight: bold;
}

@media (max-width: 576px) {
  .tour-card {
    max-width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .tour-card {
    max-width: calc(50% - 1rem);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .tour-card {
    max-width: calc(33.333% - 1rem);
  }
}

@media (min-width: 993px) {
  .tour-card {
    max-width: calc(25% - 1rem);
  }
}
